body {
	background-color: white;
	max-width: 800px;
	margin: 0 auto;
}

#winner {
	width: 400px;
	height: 400px;
	position: relative;
	margin: 1rem auto;
}

#winner img {
	width: 400px;
	height: 400px;
}

#week {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: white;
	padding-top: 5px;
	text-align: center;

	position: absolute;
	height: 32px;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgb(245, 166, 35);

	box-sizing: border-box;
}

#week span {
	margin-left: .5rem;
	margin-right: .5rem;
}

#participants {
	margin: 0 auto;
	max-width: 800px;
}

#box {
	width: 250px;
	height: 250px;
	position: relative;
	margin: .5rem;
	float: left;
}

#box img {
	width: 250px;
	height: 250px;
}

#picture {
	position: relative;
}

#center-heart {
	position: absolute;
	top: 100px;
	left: 100px;
	text-align: center;
	opacity: 0;
}

#picture span {
	font-size: 3rem;
	color: white;
}

/* #picture:hover #center-heart {
	opacity: 1;
} */

#infos {
	background-color: rgba(0, 0, 0, 0.5);
	height: 20px;
	padding: 4px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 0.7rem;
	box-sizing: border-box;
}

#infos span {
	position: absolute;
	left: 5px;
	top: 5px;
	color: white;
	float: left;
}

#user {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	color: white;
	position: absolute;
	left: 22px;
	bottom: 4px;
	float: left;
}

#bottom-heart {
	position: absolute;
	right: 5px;
}

.unclicked {
	color: white; 
}

.clicked {
	color: red;
}







